body {
    background-image: url(../images/background.jpg);
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

.logo {
    width: 100px;
    border: 5px black solid;
    border-radius: 50%;
    margin: 5px;
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(158, 168, 221, 0.5);
    margin-bottom: 0;
}

.center {
    text-align: center;
    flex: 1;
    font-size: 59pt;
    font-weight: bolder;
    width: fit-content;
    margin-left: 66px;
    height: fit-content;
}

.right {
    text-align: right;
    font-size: 26pt;
    font-weight: bolder;
    width: fit-content;
    margin-right: 55px;
    color: brown;
}

hr {
    border: 3px #474e67 solid;
    margin: 0;
    opacity: 0.6;
    margin-bottom: 20px;
}

.button {
    margin: 10px;
    text-align: center;
}

#start {
    background-color: #dee6ff;
    font-size: 50px;
    width: 198px;
    text-align: center;
}

#start:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(66, 66, 232, 0.763);
}

footer {
    text-align: center;
    color: red;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}


.instru {
    /*! border: 5px red; */
    padding: 0px;
    margin: 0px;
    /*! text-align: justify; */
    width: fit-content;
    margin-left: 25vw;
    /*! line-height: 1.5; */
    /*! margin-left: 10px; */
    /*! text-align: center; */
    /*! align-content: center; */
    background-color: #add8e699;
}

#ins_head {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    margin: auto;
    width: fit-content;
}


#inslis {
    /* padding-left: 550px; */
    font-size: 17pt;
    padding-top: 0;
    list-style-position: inside;
    padding: 0;

    line-height: 1.5;
    text-align: center;
    /*! margin-left: 14px; */
    list-style-type: none;
}